In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/training2-titanic-data/titanic.csv

In [2]:
## DAY-1
data = []
n= int(input('number of employees: '))
for i in range(n):
    print(f"\nEnter details for employee {i+1}:")
    name = input("Name: ")
    age = int(input("Age: "))
    department = input("Department: ")
    salary = int(input("Salary: "))
    
    # append to list as dictionary
    data.append({
        "name": name,
        "age": age,
        "department": department,
        "salary": salary
    })           

df = pd.DataFrame(data)

df.head(3)

df[['name', 'salary']]

avg_sal = df['salary'].mean()
avg_sal

max_sal = df['salary'].max()
print(df['name'][df['salary'] == max_sal])

np.std(df['salary'])

age = np.array(df['age'])
double = age*2
double

KeyboardInterrupt: Interrupted by user

In [13]:
# DAY-3
df = pd.read_csv('/kaggle/input/training2-titanic-data/titanic.csv')
df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [14]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [16]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [17]:
df.drop(columns=['PassengerId', 'Cabin', 'Name', 'Ticket'], inplace=True)

In [18]:
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

/tmp/ipykernel_36/3744086084.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [19]:
df.head(10)

   Survived  Pclass     Sex        Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.000000      1      0   7.2500        S
1         1       1  female  38.000000      1      0  71.2833        C
2         1       3  female  26.000000      0      0   7.9250        S
3         1       1  female  35.000000      1      0  53.1000        S
4         0       3    male  35.000000      0      0   8.0500        S
5         0       3    male  29.699118      0      0   8.4583        Q
6         0       1    male  54.000000      0      0  51.8625        S
7         0       3    male   2.000000      3      1  21.0750        S
8         1       3  female  27.000000      0      2  11.1333        S
9         1       2  female  14.000000      1      0  30.0708        C

In [20]:
df.isnull().sum().sum()

0

In [21]:
from sklearn.preprocessing import LabelEncoder

# Encode Sex
df['Sex'] = LabelEncoder().fit_transform(df['Sex'])
df

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare Embarked
0           0       3    1  22.000000      1      0   7.2500        S
1           1       1    0  38.000000      1      0  71.2833        C
2           1       3    0  26.000000      0      0   7.9250        S
3           1       1    0  35.000000      1      0  53.1000        S
4           0       3    1  35.000000      0      0   8.0500        S
..        ...     ...  ...        ...    ...    ...      ...      ...
886         0       2    1  27.000000      0      0  13.0000        S
887         1       1    0  19.000000      0      0  30.0000        S
888         0       3    0  29.699118      1      2  23.4500        S
889         1       1    1  26.000000      0      0  30.0000        C
890         0       3    1  32.000000      0      0   7.7500        Q

[891 rows x 8 columns]

In [22]:
df['Embarked'].value_counts()

Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [23]:
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

In [24]:
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S
0,0,3,1,22.000000,1,0,7.2500,False,True
1,1,1,0,38.000000,1,0,71.2833,False,False
2,1,3,0,26.000000,0,0,7.9250,False,True
3,1,1,0,35.000000,1,0,53.1000,False,True
4,0,3,1,35.000000,0,0,8.0500,False,True
...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.000000,0,0,13.0000,False,True
887,1,1,0,19.000000,0,0,30.0000,False,True
888,0,3,0,29.699118,1,2,23.4500,False,True
889,1,1,1,26.000000,0,0,30.0000,False,False
890,0,3,1,32.000000,0,0,7.7500,True,False

In [25]:
df['Embarked_Q'] = df['Embarked_Q'].astype(int)
df['Embarked_S'] = df['Embarked_S'].astype(int)

In [26]:
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S
0,0,3,1,22.000000,1,0,7.2500,0,1
1,1,1,0,38.000000,1,0,71.2833,0,0
2,1,3,0,26.000000,0,0,7.9250,0,1
3,1,1,0,35.000000,1,0,53.1000,0,1
4,0,3,1,35.000000,0,0,8.0500,0,1
...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.000000,0,0,13.0000,0,1
887,1,1,0,19.000000,0,0,30.0000,0,1
888,0,3,0,29.699118,1,2,23.4500,0,1
889,1,1,1,26.000000,0,0,30.0000,0,0
890,0,3,1,32.000000,0,0,7.7500,1,0

In [27]:
from sklearn.model_selection import train_test_split

X = df.drop('Survived', axis=1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

# Define models in a dictionary
model = RandomForestClassifier(n_estimators=200,random_state = 42)
# Loop through models
model.fit(X_train, y_train)
y_pred = model.predict(X_test)    
acc = accuracy_score(y_test, y_pred)
print(f" Accuracy: {acc:.4f}")
print(classification_report(y_test, y_pred))
print("-" * 50)

 Accuracy: 0.8045
              precision    recall  f1-score   support

           0       0.82      0.87      0.85       110
           1       0.77      0.70      0.73        69

    accuracy                           0.80       179
   macro avg       0.80      0.78      0.79       179
weighted avg       0.80      0.80      0.80       179

--------------------------------------------------

In [29]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S
0,0,3,1,-0.592481,1,0,-0.502445,0,1
1,1,1,0,0.638789,1,0,0.786845,0,0
2,1,3,0,-0.284663,0,0,-0.488854,0,1
3,1,1,0,0.407926,1,0,0.420730,0,1
4,0,3,1,0.407926,0,0,-0.486337,0,1
...,...,...,...,...,...,...,...,...,...
886,0,2,1,-0.207709,0,0,-0.386671,0,1
887,1,1,0,-0.823344,0,0,-0.044381,0,1
888,0,3,0,0.000000,1,2,-0.176263,0,1
889,1,1,1,-0.284663,0,0,-0.044381,0,0
890,0,3,1,0.177063,0,0,-0.492378,1,0

In [35]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import TensorDataset, DataLoader

X_tensor = torch.tensor(X.values, dtype=torch.float32)
y_tensor = torch.tensor(y.values, dtype=torch.float32).view(-1, 1)

X_train_t, X_test_t, y_train_t, y_test_t = train_test_split(X_tensor, y_tensor, test_size=0.2, random_state=42, stratify=y)

train_dataset = TensorDataset(X_train_t, y_train_t)
test_dataset = TensorDataset(X_test_t, y_test_t)

train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=32, shuffle=False)

class titanicNN(nn.Module):
    def __init__(self, inp):
        super(titanicNN, self).__init__()
        self.fc1 = nn.Linear(inp, 64)
        self.relu1 = nn.ReLU()
        self.fc2 = nn.Linear(64,128)
        self.relu2 = nn.ReLU()
        self.fc3 = nn.Linear(128, 1)
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        x = self.relu1(self.fc1(x))
        x = self.relu2(self.fc2(x))
        x = self.sigmoid(self.fc3(x))
        return x

model = titanicNN(X.shape[1])
criterion = nn.BCELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

epochs = 1000
for EPOCH in range(epochs):
    model.train()
    for x_batch , y_batch in train_loader:
        optimizer.zero_grad()
        y_pred = model(x_batch)
        loss = criterion(y_pred, y_batch)
        loss.backward()
        optimizer.step()

    if (EPOCH+1)%10 == 0:
        print(f"Epoch {EPOCH+1}/{epochs}, Loss: {loss.item():.4f}")

model.eval()
with torch.no_grad():
    y_pred_probs = model(X_test_t)
    y_pred_labels = (y_pred_probs > 0.5).int()
    acc = (y_pred_labels.eq(y_test_t.int()).sum().item()) / y_test_t.shape[0]
    print(f"Test Accuracy: {acc:.4f}")

Epoch 10/1000, Loss: 0.3932
Epoch 20/1000, Loss: 0.5112
Epoch 30/1000, Loss: 0.4385
Epoch 40/1000, Loss: 0.3505
Epoch 50/1000, Loss: 0.3806
Epoch 60/1000, Loss: 0.5893
Epoch 70/1000, Loss: 0.2692
Epoch 80/1000, Loss: 0.5431
Epoch 90/1000, Loss: 0.3893
Epoch 100/1000, Loss: 0.1271
Epoch 110/1000, Loss: 0.5054
Epoch 120/1000, Loss: 0.4051
Epoch 130/1000, Loss: 0.5858
Epoch 140/1000, Loss: 0.4419
Epoch 150/1000, Loss: 0.3981
Epoch 160/1000, Loss: 0.3876
Epoch 170/1000, Loss: 0.3302
Epoch 180/1000, Loss: 0.3946
Epoch 190/1000, Loss: 0.7091
Epoch 200/1000, Loss: 0.3974
Epoch 210/1000, Loss: 0.2977
Epoch 220/1000, Loss: 0.7191
Epoch 230/1000, Loss: 0.4662
Epoch 240/1000, Loss: 0.3656
Epoch 250/1000, Loss: 0.3660
Epoch 260/1000, Loss: 0.5975
Epoch 270/1000, Loss: 0.2112
Epoch 280/1000, Loss: 0.2394
Epoch 290/1000, Loss: 0.3460
Epoch 300/1000, Loss: 0.1924
Epoch 310/1000, Loss: 0.2887
Epoch 320/1000, Loss: 0.1039
Epoch 330/1000, Loss: 0.4634
Epoch 340/1000, Loss: 0.1998
Epoch 350/1000, Loss: 0.0881
Epoch 360/1000, Loss: 0.3777
Epoch 370/1000, Loss: 0.0951
Epoch 380/1000, Loss: 0.3618
Epoch 390/1000, Loss: 0.4779
Epoch 400/1000, Loss: 0.2493
Epoch 410/1000, Loss: 0.1800
Epoch 420/1000, Loss: 0.2075
Epoch 430/1000, Loss: 0.4719
Epoch 440/1000, Loss: 0.2048
Epoch 450/1000, Loss: 0.1328
Epoch 460/1000, Loss: 0.5304
Epoch 470/1000, Loss: 0.1756
Epoch 480/1000, Loss: 0.2289
Epoch 490/1000, Loss: 0.3521
Epoch 500/1000, Loss: 0.3427
Epoch 510/1000, Loss: 0.1409
Epoch 520/1000, Loss: 0.3349
Epoch 530/1000, Loss: 1.1434
Epoch 540/1000, Loss: 0.1182
Epoch 550/1000, Loss: 0.5370
Epoch 560/1000, Loss: 0.4917
Epoch 570/1000, Loss: 0.2031
Epoch 580/1000, Loss: 0.1291
Epoch 590/1000, Loss: 0.0869
Epoch 600/1000, Loss: 0.3298
Epoch 610/1000, Loss: 0.1670
Epoch 620/1000, Loss: 0.1165
Epoch 630/1000, Loss: 0.0387
Epoch 640/1000, Loss: 0.2408
Epoch 650/1000, Loss: 0.1888
Epoch 660/1000, Loss: 0.1272
Epoch 670/1000, Loss: 0.3918
Epoch 680/1000, Loss: 0.0787
Epoch 690/1000, Loss: 0.2053
Epoch 700/1000, Loss: 0.0637
Epoch 710/1000, Loss: 0.0477
Epoch 720/1000, Loss: 0.5564
Epoch 730/1000, Loss: 0.6042
Epoch 740/1000, Loss: 0.3132
Epoch 750/1000, Loss: 0.0290
Epoch 760/1000, Loss: 0.0889
Epoch 770/1000, Loss: 0.8130
Epoch 780/1000, Loss: 0.2478
Epoch 790/1000, Loss: 0.1845
Epoch 800/1000, Loss: 0.1279
Epoch 810/1000, Loss: 0.1437
Epoch 820/1000, Loss: 0.0699
Epoch 830/1000, Loss: 0.1897
Epoch 840/1000, Loss: 0.0610
Epoch 850/1000, Loss: 0.5128
Epoch 860/1000, Loss: 0.4281
Epoch 870/1000, Loss: 0.2662
Epoch 880/1000, Loss: 0.0129
Epoch 890/1000, Loss: 0.3632
Epoch 900/1000, Loss: 0.4502
Epoch 910/1000, Loss: 0.4154
Epoch 920/1000, Loss: 0.1922
Epoch 930/1000, Loss: 0.2703
Epoch 940/1000, Loss: 0.0611
Epoch 950/1000, Loss: 0.0890
Epoch 960/1000, Loss: 0.4768
Epoch 970/1000, Loss: 0.1819
Epoch 980/1000, Loss: 0.1839
Epoch 990/1000, Loss: 0.0720
Epoch 1000/1000, Loss: 0.4967
Test Accuracy: 0.7877